:root{
    font-size: 62.5%;
    --basecolor:#000000;
    --supportcolor:#AB7843;
    --support2:#ffffff;
    --lighterbrown:antiquewhite;
    --lightestgrey:#F0F0F0;
}

body{
    font-size: 1.6rem;
    color: var(--basecolor);
    background-color: var(--support2);
    display:flex;
}

a{
    cursor:pointer;
}

.main-content{
    padding: 1rem 2rem;
}

.main-content h1{
    font-size: 5rem;
}

form{
    display: flex;
    flex-direction: column;
    gap:2rem;
}

/*Customized select*/
/*.topOption{
    background-color: var(--support2);
    display: block;
    height:4rem;
    width: 50rem;
    padding:1rem 2rem;
    border-radius: 2rem;
}

.topOption:hover{
    cursor: pointer;
}

.downwardArrow{
    font-size: 1.1rem;
    padding-left: 2rem;
}

.options{
    background-color: var(--lightestgrey);
    width: 50.1rem;
    border-radius: 2rem;
    border:solid 0.1rem black;
    display: none;
}

.options li{
    background-color: var(--support2);
    display: block;
    height:4rem;
    width: 50rem;
    padding:1rem 2rem;
    
}

.options .first{
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
}

.options .last{
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.options li:hover{
    cursor:pointer;
    background-color: var(--supportcolor);
}
/**/

.select-wrapper{ 
    position: relative;
    background-color: var(--support2);
    /*display: block;*/
    height:4rem;
    width: 25rem;
    padding:1rem 2rem;
    border-radius: 2rem;
    cursor:pointer;
}

.select-wrapper select{
    position: absolute;
    inset: 0;
    padding: 1rem 2rem;
}

.select-wrapper::after{
    position: absolute;
    content:"▼";
    font-size: 1.1rem;
    right:3rem;
    top:50%;
    transform: translateY(-50%);/*I don't fully understand why but this one and top:50% centralize the arrow well vertically*/
    pointer-events: none;/*Makes it invisible to the mouse. Without it, the arrow could block clicks on the select box if it overlaps.With pointer-events: none, clicks go through the arrow to the underlying <select> element, so the dropdown still works.*/
}

.oneinput{
    position: relative;
}

.oneinput input{
    background-color: var(--support2);
    display: block;
    height:4rem;
    width: 25rem;
    padding:1rem 2rem;
    border-radius: 2rem;
}

.oneinput label{
    position: absolute;
    left:2rem;
    top:1.1rem;
    background-color: var(--support2);
    padding:0 0.3rem;
}

.oneinput textarea{
    background-color: var(--support2);
    display: block;
    height:16rem;
    width: 33rem;
    padding:1rem 2rem;
    border-radius: 2rem;
    word-wrap: wrap;
}

.oneinput input:focus + label,
.oneinput input:not(:placeholder-shown) + label,
.oneinput textarea:focus + label,
.oneinput textarea:not(:placeholder-shown) + label{
    top:-0.9rem;
    left: 2rem;
    font-size:1rem;
    background-color: var(--lightestgrey);
}

.oneinput input:focus,
.oneinput textarea:focus{
    border: solid 0.15rem black;
}

.optionalInput{
    gap:1rem;
}

.optionalInput .oneinput{
    display:flex;
    align-items: center;
}

#message{
    font-size: 1.1rem;
    padding-left: 2rem;
}

#message #text{
    color: var(--basecolor);
}

.date{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}

.date input{
    background-color: var(--support2);
    height:4rem;
    width: 25rem;
    padding:1rem 2rem;
    border-radius: 2rem;
    cursor: pointer;
}

button{
   background-color: var(--basecolor);
   color: var(--lightestgrey);
   display: block;
   height:4rem;
   padding:1rem 2rem;
   border-radius: 2rem; 
   text-align: center;
   cursor: pointer;
   margin-top: 2rem;
   width:35rem;
}

.quantityAndUnit{
    display: flex;
    gap:2rem;
}

.quantityAndUnit #quantity-input, .quantityAndUnit #unit{
    width:15rem;
}

.totalCost{
    display: flex;
    height: 4rem;
    align-items: center;
    gap:2rem;
    padding-left: 2rem;
}

.totalCost .labelTwo{
    background-color: var(--support2);
    display: block;
    height:4rem;
    width: 20rem;
    padding:1rem 2rem;
    border-radius: 2rem;
    text-align: center;
}

.supplierDetails{
    display:flex;
    gap:2rem
}

.purchaseButton{
    width:55rem;
}

#emailMessage{
    font-size:1.1rem;
    padding-left: 2rem;
}

.submission{
    display: flex;
    align-items: center;
    gap:1rem;
}

#successMessage{
    font-size:1.1rem;
    color: green;
    opacity: 1;/*I am doing this and the line below so that in JS I can make it disappear*/
    transition: opacity 0.5s ease;
}