:root{
    font-size: 62.5%;
    --basecolor:#0F1E0F;
    --supportcolor:#AB7843;
    --support2:#ffffff;
    --lighterbrown:antiquewhite;
    --lightestgrey:#F0F0F0;
}

body{
    font-size: 1.6rem;
    color: var(--basecolor);
    background-color: var(--support2);
    display:flex;
}

.main-content{
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap:2rem;
}

/*ENTER-RECORD LINKS SECTION*/
.link-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap:3rem;
}

.link{
    display: block;
    height:20rem;
    width:20rem;
    border: solid 0.15rem black;
    border-radius: 2rem;
}

.link img{
    width:100%;
    height:15rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-bottom: solid 0.15rem black;
    background-color: aqua;
}

.link p{
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
