:root{
    font-size: 62.5%;
    --basecolor:#0F1E0F;
    --supportcolor:#AB7843;
    --support2:#ffffff;
    --lighterbrown:antiquewhite;
    --lightestgrey:#F0F0F0;
}

body{
    font-size: 1.6rem;
    color: var(--basecolor);
    background-color: var(--support2);
    display:flex;
}

.main-content{
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap:2rem;
}

/*SEARCH INPUT*/
.search{
    position:relative;
    width: 25rem;
}

.search input{
    border: solid 0.15rem black;
    border-radius: 2rem;
    background-color: var(--support2);
    height:4rem;
    width: 100%;
    padding-left:4.5rem;/*1.5 from left + 1.5 from gap + 1.5 from img size (Look below) This ensures text appears
                          after search icon*/
    padding-right: 2rem;
}

.search label{
    position:absolute;
    top:1.1rem;
    left:1.5rem;
    display: flex;
    gap:1.5rem;
    align-items: center;
}

.search img{
    height:1.5rem;
}

.search span{
    transition: opacity 0.1s ease;/*transition for below*/
}

.search input:focus + label span,
.search input:not(:placeholder-shown) + label span{
    opacity: 0;/*Chat has dicouraged using display:none here cz transition (above) can't be applied to display*/
}

/*ENTER-RECORD LINKS SECTION*/
.link-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap:3rem;
}

.link{
    display: block;
    height:20rem;
    border: solid 0.15rem black;
    border-radius: 2rem;
}

.link img{
    width:100%;
    height:15rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-bottom: solid 0.15rem black;
    background-color: aqua;
}

.link p{
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
