:root{
    font-size: 62.5%;
    --basecolor:#0F1E0F;
    --supportcolor:#AB7843;
    --support2:#ffffff;
    --lighterbrown:antiquewhite;
    --lightestgrey:#F0F0F0;
    --black:#000000;
}

body{
    font-size: 1.6rem;
    color: var(--basecolor);
    background-color: var(--support2);
    display:flex;
}

.main-content{
    padding: 1rem 4rem;
}

.main-content h1{
    font-size: 5rem;
}

.main-content h2{
    font-size: 3rem;
}

.logoSpace{
    height:5rem;
    border-bottom: solid 0.1rem black;
    display: flex;
    margin-bottom: 1rem;
}

.logoSpace img{
    height:3rem;
    border-radius: 50%;
    margin-left: auto;
}

.content{
    display: flex;
    gap:4rem;
}

.left{
   display: flex;
   flex-direction:column;
   gap:2rem; 
}

.right{
   display: flex;
   flex-direction:column;
   gap:2rem; 
}

/*FEEDINGS SECTION*/
.feedings{
    border: solid 0.2rem black;
    border-radius: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap:1rem;
    width:50rem;
}

.feedings table th, .feedings table td{
    /*border: solid 0.1rem black;*/
    text-align: center;
    padding: 0.4rem 1rem;
}

.feedings table #animal{
    text-align: left;
}

.feedings a{
    border: solid 0.1rem black;
    border-radius: 0.2rem;
    width:fit-content;
    padding:0.1rem 1rem;
    display: inline-block;
    margin-left: auto;
    margin-top: 1rem;
}

.editTasksOverLay{/*This forms the shadowy background of the popup*/
    position:fixed;/*Position fixed makes the background still and removes it from the normal flow so now it's
                    anchored to the screen and not the body. We need it to be fixed so that someone can't scroll
                    to remove the popup, they can only close it.*/
    inset:0;/*This makes it start at the corners. It replaces having to make top, bottom, left and right 0 cz it 
              does it all at once*/
    background: rgba(0, 0, 0, 0.3);

    display:none;
    align-items: center;
    justify-content: center;
}

.editTasksOverLay.show{
    display: flex;
}

.editTasksPopup{
    background-color: var(--support2);
    width:40rem;
    height:40rem;
    position:relative;
    border-radius: 2rem;
}

#closeEditTasks{
    position:absolute;
    top:1rem;
    right:2rem;
    font-size: 3rem;
    cursor:pointer;
}

.editTasksPopup .content{
    margin: 4rem 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;
}

.editTasksPopup .content a{
   background-color: var(--black);
   color: var(--lightestgrey);
   height:4rem;
   padding:1rem 2rem;
   border-radius: 2rem; 
   text-align: center;
   cursor: pointer;
   margin:0;
   position: relative;
   width:25rem;
   transition: all 0.3s ease;
}

.editTasksPopup .content a::after{
    content: "⇒";
    position: absolute;
    right:4rem;
    transition: all 0.3s ease;
}

.editTasksPopup .content a:hover{
    color: var(--supportcolor);
}

.editTasksPopup .content a:hover::after{
    right:3rem;
    color:var(--supportcolor);
}

.editTasksPopup .content tr{
    border:solid 0.1rem black;
    background-color: var(--lightestgrey);
    border-radius: 2rem;
}

.editTasksPopup .content td{
    padding: 0.5rem 3rem;
}

.editTasksPopup .content #tick, .editTasksPopup .content #cross{
    background-color: rgb(43, 149, 43);
    border-radius: 50%;
    padding:0.35rem 0.6rem;
    color:var(--support2);
    text-align: center;
    cursor: pointer;
}

.editTasksPopup .content #cross{
    font-size: 2.1rem;
    padding:0 0.6rem;
    background-color: rgb(219, 96, 96);
}

/*WEEKLY SALES SECTION*/
.weekly-sales{
    border: solid 0.2rem black;
    border-radius: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap:1rem;
    width:50rem;
}

/*TODAY'S SALES SECTION*/
.todays-sales{
    border: solid 0.2rem black;
    border-radius: 2rem;
    padding: 2rem;
    display: flex;
    gap:2rem;
    margin-top: 7.5rem;
}

.todays-sales div{
    display:flex;
    flex-direction:column;
    gap:1rem;
}

.todays-sales p{
    font-size:2rem;
    padding-left:0.5rem;
}

.todays-sales img{
    height:7rem;
}

/*ALERTS SECTION*/
.alerts{
    border: solid 0.2rem black;
    border-radius: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap:1rem;
    width:40rem;
    height:48.8rem;
}

.alerts h2{
    padding-left:1.4rem;
}

.alertList{
    max-height:35rem;
    overflow-y:auto;
    display: flex;
    flex-direction: column;
    gap:1.5rem;
    border-radius: 2rem;
    background-color: var(--support2);
    padding: 1.5rem 1rem;

    /*scrollbar-width: none; /*This is for Firefor.-webkit-scrollbar below won't work there*/
}

.alertList::-webkit-scrollbar{
    width:0;
}

/*.alertList::-webkit-scrollbar-track{/*This is the background
    background-color: var(--support2);
}

.alertList::-webkit-scrollbar-thumb{This is the thing  that moves
    background-color: black;
    border-radius: 2rem;
    transition: all 0.5s ease;
}

.alertList::-webkit-scrollbar-thumb:hover{
    cursor: pointer;
    background-color: rgb(59, 54, 54);
}*/

.singleAlert{
    border: solid 0.15rem black;
    border-radius: 2rem;
    height:13rem;
    background-color: var(--lightestgrey);
}

.singleAlert h3{
    font-size: 1.8rem;
    border-bottom: solid 0.15rem black;
    padding-left:1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.singleAlert .contentAndBtn{
    height:9.5rem;
    padding: 1rem 1rem;
    border-radius: 2rem;
    display:flex;
    flex-direction: column;
    gap:1rem;
}

.singleAlert p{
    display: -webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    height:3.5rem;
}

.singleAlert a{
    border: solid 0.1rem black;
    border-radius: 0.2rem;
    width:fit-content;
    padding:0.1rem 1rem;
    display: inline-block;
    margin-left:auto;/**This only works if the container it is inside is using display:flex;*/
}

.alerts .seeMore{
    margin-left:auto;
    position:relative;
    padding-right: 2.3rem;
    padding-top: 2rem;
}

.alerts .seeMore::after{
    content: "⇒";
    position: absolute;
    left:6.8rem;
    top:2.1rem;
    transition: all 0.3s ease;
}

.alerts .seeMore:hover::after{
    left:7.3rem;
}
